
/* we want to have it so users can use dyslexia fonts if needed.  */
/* TODO FIXED:  we can host the files locally, --> we no longer rely on external dependencies */
/* THese are hosted in the fonts dir */



/* instantiating OpenDyslexic fonts  */

@font-face { /* REGULAR FONT */
    font-family: 'OpenDyslexic';
    src: url("../fonts/OpenDyslexic-Regular.woff2") format('woff2'), 
    url("../fonts/OpenDyslexic-Regular.woff") format('woff'),
    url("../fonts/OpenDyslexic-Regular.otf") format('opentype'),
    url("../fonts/OpenDyslexic-Regular.eot");

    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face { /* ITALICS FONT */
    font-family: 'OpenDyslexic';
    src: url("../fonts/OpenDyslexic-Italic.woff2") format('woff2'), 
    url("../fonts/OpenDyslexic-Italic.woff") format('woff'),
    url("../fonts/OpenDyslexic-Italic.otf") format('opentype'),
    url("../fonts/OpenDyslexic-Italic.eot");

    font-weight: normal;
    font-style: italic;
    font-display: swap;
    
}

@font-face { /* BOLD FONT */
    font-family: 'OpenDyslexic';
    src: url("../fonts/OpenDyslexic-Bold.woff2") format('woff2'), 
    url("../fonts/OpenDyslexic-Bold.woff") format('woff'),
    url("../fonts/OpenDyslexic-Bold.otf") format('opentype'),
    url("../fonts/OpenDyslexic-Bold.eot");

    font-weight: bold;
    font-style: normal;
    font-display: swap;
    
}

@font-face { /* BOlD-ITALIC FONT */
    font-family: 'OpenDyslexic';
    src: url("../fonts/OpenDyslexic-Bold-Italic.woff2") format('woff2'), 
    url("../fonts/OpenDyslexic-Bold-Italic.woff") format('woff'),
    url("../fonts/OpenDyslexic-Bold-Italic.otf") format('opentype'),
    url("../fonts/OpenDyslexic-Bold-Italic.eot");

    font-weight: bold;
    font-style: italic;
    font-display: swap;
    
}

/* Dyslexic Font Fallback Mech. */
body.accesibility-dyslexia-fonts {
    font-family: 'OpenDyslexic', Arial, Helvetica, sans-serif !important;
}

